<div class="container">
  <div class="row" id="team">

    <ul class="list-inline text-center">
      <% ["papillard", "ssaunier", "anariccetti", "thierrymr"].each do |gh_username| %>
        <li>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{gh_username}", class: "img-circle" %>
          <h5><%= gh_username.capitalize %></h5>
        </li>
      <% end %>
    </ul>

  </div>
</div>
